@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

$color-darkgray: #0c0c0c;
$color-white: #fff;
$color-orange: #ff8100;
$color-gray: #575757;
$color-cream: #f9f5ee;
$color-blue: #03040c;
$bg-gray: #dfdcd8;

@mixin transition($property...) {
	transition: $property;
		-webkit-transition: $property;
			-moz-transition: $property;
				-ms-transition: $property;
}

html {
  	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

html,
body {
	font-family: 'Poppins', sans-serif !important;
	height: 100%;
	margin: 0;
	transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
		-webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
			-moz-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
				-ms-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
	width: 100%;
	h2 {
		font-size: 1.8rem;
	}
	p, a, li {
		font-size: 16px;
		text-decoration: none;
		margin: 0;
	}
	section {
		overflow: hidden;
		position: relative;
		width: 100%;
		.container {
			max-width: 80%;
		}
		.container-fluid {
			width: 95%;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
		}
	}
	.background {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		&.cover {
			background-size: cover;
		}
		&.parallax {
			background-attachment: fixed;
		}
	}
	.text-justify {
		text-align: justify;
	}
	.text-blue { 
		color: $color-blue;  
	}
	.text-white { 
		color: $color-white;  
	}
	.text-orange { 
		color: $color-orange;  
	}
	.text-gray { 
		color: $color-gray;  
	}
	.bg-blue { 
		background-color: $color-blue;
	}
	.bg-orange { 
		background-color: $color-orange;  
	}
	.bg-gray { 
		background-color: $color-gray;  
	}
	.relative { 
		position: relative; 
	}
	.absolute { 
		position: absolute; 
	}
	button {
		border-radius: 5px;
		font-size: 1rem;
		padding: 8px 30px;
		&.button-orange {
			background: $color-orange;
			border: 1px solid $color-orange;
			color: #fff;
		}
		&.button-green {
			background: #57714f;
			border: 1px solid #57714f;
			color: #fff !important;
		}
		&.button-white {
			background: #fff;
			border: 1px solid $color-darkgray;
			color: $color-darkgray !important;
		}
		&.shadow {
			box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.20), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
		}
	}
	.cont-redes {
		height: 40px;
		width: 40px;
		.redes {
			background-position: top;
			height: 100%;
			width: 100%;
			&.lin {
				background-image: url("../images/iconos/linkedin.png")
			}
			&:hover {
				background-position: bottom;
			}
		}
	}
	.contImg {
		padding-top: 100px;
		img {
			max-height: 500px;
			object-fit: contain;
			width: 100%;
		}
	}
	.line {
		position: absolute;
		width: 100%;
	}
	.line-down {
		bottom: 0;
		position: absolute;
		width: 100%;
	}
	.list {
		margin-top: 20px;
		padding: 0 !important;
	}
}

img.portada {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
    color: rgba(0, 0, 0, 0.55);
    &:focus {
	    box-shadow: none !important;
	}
}

.header {
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.20), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
	font-size: 14px;
	position: fixed;
	width: 100%;
	z-index: 5000;
	.full-menu {
		a {
			color: $color-white;
			text-decoration: none;
			text-transform: uppercase;
			&.nav-link:hover, 
			&.nav-link:focus {
				color: $color-orange !important;
			}
		}
	}
	.container-menu {
		margin: auto;
		width: 80%;
	}
}

footer {
	background-color: $color-darkgray;
	padding: 40px 0;
	p {
		font-size: 0.7rem;
		margin: 0;
		width: 200px;
	}
	a {
		color: #fff !important;
		font-size: 0.7rem;
		margin: 0;
	}
}

#inicio {
	background-color: #000;
	padding-top: 81px;
	.parallax {
		background-image: url("../images/fondo.webp");
		background-position-y: 100%; 
		height: 200%; 
	}
	.absolute {
		background: rgba(0,0,0,0.5);
		left: 0;
		top:  0;
		.parallax-text {
			height: 100%;
			.card {
				background: rgba(0, 0, 0, 0.8);
				padding: 64px;
				h1 {
					font-size: 4rem;
					margin: 0;
				}
				p {
					font-size: 1.3rem;
					small {
						font-size: 18px;
					}
				}
			}
		}
	}
}

#about-us {
	background-color: $color-gray;
	.about-text {
		background-color: $color-darkgray;
		border-radius: 30px 0px 0px 30px;
		margin-left: -25px;
		h2 {
			font-size: 1.8rem;
		}
		h3 {
			font-size: 1.3rem;
		}
		p {
			margin-bottom: 16px;
		}
		img {
			width: 180px;
		}
	}
	h4 {
		color: #F6C040;
		font-size: 40px;
		font-weight: 700;
		line-height: 100%;
		margin-top: 15px !important;
		margin: 0;
	}
	li {
		color: #57714f;
		font-size: 30px;
		font-style: italic;
		line-height: 110%;
		list-style: none;
	}	
}

#languajes {
	background-color: $color-blue;
	padding: 30px 40px;
	position: relative;
	.content {
		border: 1px solid #fff;
		border-radius: 20px;
		padding: 80px 0;
		h2 {
			font-size: 2vw;
		}
		p {
			font-size: 20px;
		}
		figure {
			margin-bottom: 15px !important;
			margin: 0;
			text-align: center;
			img {
				margin-bottom: 15px;
				max-width: 70px;
			}
			figcaption {
				font-size: 1.3rem;
			}
		}
	}
	img {
		&.absolute {
			height: 95%;
			left: -250px;
			top: 2.5%;
		}
	}
}

#services {
	background: #e9e9e9;
	padding: 40px 50px;
	.fotos {
		li {
			padding: 8px;
			font-size: 18px;
			font-weight: 800;
			.content-image {
				height: 46px;
				margin-right: 8px;
				padding: 8px;
				width: 46px;
				img {
					margin: auto;
					object-fit: contain;	
					width: 100%;
				}
			}
		}
	}
	figure {
		margin: 0;
		margin-bottom: 15px;
		max-width: 180px;
		min-width: 150px;
		text-align: center;
		img {
			margin-bottom: 15px;
		}
		figcaption {
			font-size: 1.2vw;
			color: #3c3c3b;
			font-weight: 600;
		}
	}
}

.imgflip-vertical {
	backface-visibility: hidden;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.20), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	color: #fff;
	display: inline-block;
	margin: 0;
	perspective: 50em;
	position: relative;
	transform: translateZ(0);
	width: 100%;
    transition: all 0.5s ease;
		-moz-osx-font-smoothing: grayscale;
			-webkit-transform: translateZ(0);
	&:before,
	&:after {
		box-sizing: border-box;
		transition: all 0.5s ease;
	}
	* {
		box-sizing: border-box;
		transition: all 0.5s ease;
		&:before,
		&:after {
			box-sizing: border-box;
			transition: all 0.5s ease;
		}
	}
	img {
		backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
		min-height: 350px;
		object-fit: cover;
		vertical-align: top;
		width: 100%;
	}
	figcaption {
		background-color: $color-darkgray;
		bottom: 0;
		color: #ffffff;
		left: 0;
		opacity: 0;
		padding: 30px;
		position: absolute;
		right: 0;
		top: 0;
		transform: rotateY(90deg);
			-webkit-transform: rotateY(90deg);
		transform-origin: 50% 0%;
			-webkit-transform-origin: 50% 0%;
	}
	&:hover {
		img {
			opacity: 0;
			transform: rotateY(-180deg);
				-webkit-transform: rotateY(-180deg);
		}
		figcaption {
			opacity: 1;
			transition-delay: 0.14s;
			transform: rotateY(0deg);
				-webkit-transform: rotateY(0deg);
		}
	}
}
