@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

html,
body {
  font-family: "Poppins", sans-serif !important;
  height: 100%;
  margin: 0;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 100%;
}
html h2,
body h2 {
  font-size: 1.8rem;
}
html p, html a, html li,
body p,
body a,
body li {
  font-size: 16px;
  text-decoration: none;
  margin: 0;
}
html section,
body section {
  overflow: hidden;
  position: relative;
  width: 100%;
}
html section .container,
body section .container {
  max-width: 80%;
}
html section .container-fluid,
body section .container-fluid {
  width: 95%;
}
html ul,
body ul {
  margin: 0;
  padding: 0;
}
html ul li,
body ul li {
  list-style: none;
}
html .background,
body .background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
html .background.cover,
body .background.cover {
  background-size: cover;
}
html .background.parallax,
body .background.parallax {
  background-attachment: fixed;
}
html .text-justify,
body .text-justify {
  text-align: justify !important;
}
html .text-blue,
body .text-blue {
  color: #03040c;
}
html .text-white,
body .text-white {
  color: #fff;
}
html .text-orange,
body .text-orange {
  color: #ff8100;
}
html .text-gray,
body .text-gray {
  color: #575757;
}
html .bg-blue,
body .bg-blue {
  background-color: #03040c;
}
html .bg-orange,
body .bg-orange {
  background-color: #ff8100;
}
html .bg-gray,
body .bg-gray {
  background-color: #575757;
}
html .relative,
body .relative {
  position: relative;
}
html .absolute,
body .absolute {
  position: absolute;
}
html button,
body button {
  border-radius: 5px;
  font-size: 1rem;
  padding: 8px 30px;
}
html button.button-orange,
body button.button-orange {
  background: #ff8100;
  border: 1px solid #ff8100;
  color: #fff;
}
html button.button-green,
body button.button-green {
  background: #57714f;
  border: 1px solid #57714f;
  color: #fff !important;
}
html button.button-white,
body button.button-white {
  background: #fff;
  border: 1px solid #0c0c0c;
  color: #0c0c0c !important;
}
html button.shadow,
body button.shadow {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
}
html .cont-redes,
body .cont-redes {
  cursor: pointer;
  height: 40px;
  position: relative;
  width: 40px;
}
html .cont-redes a,
body .cont-redes a {
  height: 100%;
  width: 100%;
  z-index: 99;
}
html .cont-redes:before,
body .cont-redes:before {
  content: "";
  border-bottom: 4px solid #1DA1F2;
  color: #1DA1F2;
  height: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: 0.5s ease-in-out;
  width: 100%;
}
html .cont-redes .redes,
body .cont-redes .redes {
  height: 100%;
  width: 100%;
}
html .cont-redes .redes svg,
body .cont-redes .redes svg {
  transition: 0.5s ease-in;
}
html .cont-redes:hover:before,
body .cont-redes:hover:before {
  height: 100%;
}
html .cont-redes:hover .redes svg,
body .cont-redes:hover .redes svg {
  fill: #2797cf;
  transition: 0.5s ease-in-out;
}
html .contImg,
body .contImg {
  padding-top: 100px;
}
html .contImg img,
body .contImg img {
  max-height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
html .line,
body .line {
  position: absolute;
  width: 100%;
}
html .line-down,
body .line-down {
  bottom: 0;
  position: absolute;
  width: 100%;
}
html .list,
body .list {
  margin-top: 20px;
  padding: 0 !important;
}

img.portada {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

header.header {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  font-size: 14px;
  position: fixed;
  width: 100%;
  z-index: 5000;
}
header.header .full-menu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
header.header .full-menu a.nav-link:hover, header.header .full-menu a.nav-link:focus {
  color: #ff8100 !important;
}
header.header .container-menu {
  margin: auto;
  width: 80%;
}

footer {
  background-color: #0c0c0c;
  padding: 40px 0;
}
footer p {
  font-size: 0.7rem;
  margin: 0;
  width: 200px;
}
footer a {
  color: #fff !important;
  font-size: 0.7rem;
  margin: 0;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
  color: rgba(0, 0, 0, 0.55);
}
.navbar-light .navbar-toggler:focus {
  box-shadow: none !important;
}

.btn-ring-animation {
  background: #ff8100;
  background: linear-gradient(90deg, #c26201 0%, #c26201 100%);
  border-radius: 1000px;
  border: none;
  box-shadow: 12px 12px 24px rgba(255, 129, 0, 0.64);
  color: #fff;
  cursor: pointer;
  letter-spacing: 1.3px;
  min-height: 60px;
  min-width: 300px;
  outline: none;
  padding: 10px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out 0s;
}
.btn-ring-animation:before {
  content: "";
  border-radius: 1000px;
  min-width: 312px;
  min-height: 72px;
  border: 6px solid #ff8100;
  box-shadow: 0 0 60px rgba(255, 129, 0, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}
.btn-ring-animation:after {
  content: "";
  animation: ring 1.5s infinite !important;
  border-radius: 100%;
  border: 6px solid #ff8100;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  z-index: -1;
}
.btn-ring-animation:hover, .btn-ring-animation:focus {
  transform: translateY(-6px);
}
.btn-ring-animation:hover:before, .btn-ring-animation:focus:before {
  opacity: 1;
}

.glow-on-hover {
  margin: auto;
  background: #111;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  outline: none;
  position: relative;
  width: 220px;
  z-index: 0;
}
.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #ff8100, #ff7300, #ff9501, #ffa200, #ff9500, #ff8100, #ff8800, #ff6200, #ff8800);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.glow-on-hover:active:after {
  background: transparent;
}
.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.glow-on-hover:hover:before {
  opacity: 1;
}

.btn-hover {
  background: transparent;
  border-radius: 10px;
  border: 3px solid #ff8100;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  overflow: hidden;
  padding: 10px 40px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.7s;
}
.btn-hover:hover {
  color: #fff;
}
.btn-hover span {
  transition: all 0.7s;
}
.btn-hover span.text {
  z-index: 1;
  position: relative;
}
.btn-hover span.first {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 26%;
  height: 100%;
  background: #ff8100;
}
.btn-hover span.second {
  content: "";
  position: absolute;
  left: 25%;
  top: -100%;
  height: 100%;
  width: 26%;
  background: #ff8100;
}
.btn-hover span.third {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  top: 100%;
  width: 26%;
  background: #ff8100;
}
.btn-hover span.fourth {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 26%;
  background: #ff8100;
}
.btn-hover:hover .first {
  top: 0;
  right: 0;
}
.btn-hover:hover .second {
  top: 0;
  left: 50%;
}
.btn-hover:hover .third {
  top: 0;
  left: 25%;
}
.btn-hover:hover .fourth {
  top: 0;
  left: 0;
}

.imgflip-vertical {
  backface-visibility: hidden;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  margin: 0;
  perspective: 50em;
  position: relative;
  transform: translateZ(0);
  width: 100%;
  transition: all 0.5s ease;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateZ(0);
}
.imgflip-vertical:before, .imgflip-vertical:after {
  box-sizing: border-box;
  transition: all 0.5s ease;
}
.imgflip-vertical * {
  box-sizing: border-box;
  transition: all 0.5s ease;
}
.imgflip-vertical *:before, .imgflip-vertical *:after {
  box-sizing: border-box;
  transition: all 0.5s ease;
}
.imgflip-vertical img {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  min-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
  width: 100%;
}
.imgflip-vertical figcaption {
  background-color: #0c0c0c;
  bottom: 0;
  color: #ffffff;
  left: 0;
  opacity: 0;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
}
.imgflip-vertical:hover img {
  opacity: 0;
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
}
.imgflip-vertical:hover figcaption {
  opacity: 1;
  transition-delay: 0.14s;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}

#inicio {
  background-color: #000;
  padding-top: 81px;
}
#inicio .card {
  background: rgba(0, 0, 0, 0.9);
  padding: 64px;
}
#inicio .card h1 {
  animation: lighting 3.5s linear infinite;
  color: #484848;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 15px;
  line-height: 0.7em;
  margin: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#inicio .card h1:after {
  content: attr(data-text);
  left: 0;
  position: absolute;
  text-align: center;
  top: calc(100% + 0px);
  transform: scaleY(-0.3);
  width: 100%;
  color: transparent;
  background-image: linear-gradient(to bottom, #25292a, #343434, #fff);
  -webkit-background-clip: text;
  opacity: 0.2;
}
#inicio .card p {
  font-size: 1.3rem;
}
#inicio .card p small {
  font-size: 18px;
}
#inicio .parallax {
  background-position-y: 100%;
  height: 200%;
}
#inicio .absolute {
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
}
#inicio .absolute .parallax-text {
  height: 100%;
}

#about-us {
  background-color: #575757;
}
#about-us .about-text {
  background-color: #0c0c0c;
  border-radius: 30px 0px 0px 30px;
  margin-left: -25px;
}
#about-us .about-text h2 {
  font-size: 1.8rem;
}
#about-us .about-text h3 {
  font-size: 1.3rem;
}
#about-us .about-text p {
  margin-bottom: 16px;
  text-align: justify;
}
#about-us .about-text img {
  width: 180px;
}
#about-us h4 {
  color: #F6C040;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  margin-top: 15px !important;
  margin: 0;
}
#about-us li {
  color: #57714f;
  font-size: 30px;
  font-style: italic;
  line-height: 110%;
  list-style: none;
}

#languajes {
  background-color: #03040c;
  padding: 30px 40px;
  position: relative;
}
#languajes .content {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 80px 0;
}
#languajes .content h2 {
  font-size: 2vw;
}
#languajes .content p {
  font-size: 20px;
}
#languajes .content figure {
  margin-bottom: 15px !important;
  margin: 0;
  text-align: center;
}
#languajes .content figure img {
  margin-bottom: 15px;
  max-width: 70px;
}
#languajes .content figure figcaption {
  font-size: 1.3rem;
}
#languajes img.absolute {
  height: 95%;
  left: -250px;
  top: 2.5%;
}

#services {
  background: #e9e9e9;
  padding: 40px 50px;
}
#services .fotos li {
  padding: 8px;
  font-size: 18px;
  font-weight: 800;
}
#services .fotos li .content-image {
  height: 46px;
  margin-right: 8px;
  padding: 8px;
  width: 46px;
}
#services .fotos li .content-image img {
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
#services figure {
  margin: 0;
  margin-bottom: 15px;
  max-width: 180px;
  min-width: 150px;
  text-align: center;
}
#services figure img {
  margin-bottom: 15px;
}
#services figure figcaption {
  font-size: 1.2vw;
  color: #3c3c3b;
  font-weight: 600;
}

#projects .project-card {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  text-align: right;
  width: 100%;
}
#projects .project-card img {
  height: 100%;
  min-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
#projects .project-card figcaption {
  bottom: 0;
  bottom: 0px;
  left: 0px;
  padding: 20px 20px 20px 40%;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
}
#projects .project-card figcaption:before, #projects .project-card figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3c3c3c;
  box-shadow: 0 0 20px rgba(159, 159, 159, 0.7);
  content: "";
  opacity: 0.5;
  z-index: -1;
}
#projects .project-card figcaption:before {
  transform: skew(30deg) translateX(100%);
}
#projects .project-card figcaption:after {
  transform: skew(-30deg) translateX(90%);
}
#projects .project-card h4,
#projects .project-card p,
#projects .project-card a {
  opacity: 0;
}
#projects .project-card p {
  color: #fff;
  font-size: 14px;
}
#projects .project-card:hover h4,
#projects .project-card:hover p, #projects .project-card:hover a, #projects .project-card.hover h4,
#projects .project-card.hover p, #projects .project-card.hover a {
  opacity: 0.9;
  transform: translateY(0);
}
#projects .project-card:hover:before, #projects .project-card.hover:before {
  transform: skew(30deg) translateX(30%);
  transition-delay: 0.05s;
}
#projects .project-card:hover:after, #projects .project-card.hover:after {
  transform: skew(-30deg) translateX(20%);
}
#projects .project-card:hover figcaption:before, #projects .project-card.hover figcaption:before {
  transform: skew(30deg) translateX(50%);
  transition-delay: 0.15s;
}
#projects .project-card:hover figcaption:after, #projects .project-card.hover figcaption:after {
  transform: skew(-30deg) translateX(40%);
  transition-delay: 0.1s;
}
#projects .project-card:before, #projects .project-card:after {
  content: "";
  background-color: #1b1b1b;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.45s ease;
}
#projects .project-card:before {
  transform: skew(30deg) translateX(80%);
}
#projects .project-card:after {
  transform: skew(-30deg) translateX(70%);
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
@keyframes lighting {
  0%, 20%, 40%, 80% {
    color: #484848;
    text-shadow: none;
  }
  60%, 70% {
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 50px #88e7ff;
  }
  10%, 30%, 50%, 90% {
    color: #8f8f8f;
    text-shadow: none;
  }
  100% {
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 50px #88e7ff;
  }
}/*# sourceMappingURL=main.css.map */